.login {
  display: flex;
  width: 100%;
  height: 100vh;
  min-width: 48rem;
  min-height: 50rem;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.aside {
  flex: 1 0 0;
  align-self: stretch;
  background: url("/assets/images/login_pin.png") lightgray 50% / cover
    no-repeat;

  background-position: top;

  .asideContent {
    height: 40%;
    display: flex;
    padding: 0rem 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    > h2 {
      color: rgb(var(--neutral-0-color));
    }
    > svg {
      width: 15rem;
      height: 8rem;
      color: rgb(var(--neutral-0-color));
    }
  }
}

.body {
  display: flex;
  height: 50rem;
  min-width: 27.375rem;
  padding: 0rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
}

.bodyContent {
  display: flex;
  max-width: 27.375rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  width: 8.75rem;
  height: 3.35525rem;
  justify-content: center;
  align-items: center;

  svg {
    width: 8.75rem;
    height: 3.35525rem;
  }
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  align-self: stretch;
}

.inputGroup {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  align-self: stretch;
}

.textBox {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  span {
    align-self: stretch;
    text-align: center;
  }
}

.text {
  display: flex;
  padding: 0.25rem 0rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;

  span {
    color: rgb(var(--neutral-60-color, (86, 89, 89)));
    text-align: center;
    flex: 1 0 0;
  }
}

.tokenBody {
  display: flex;
  width: 50vw;
  padding: 0rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

.tokenBodyContainer {
  display: flex;
  min-width: 18rem;
  max-width: 27.375rem;
  padding: 1.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex: 1 0 0;
}

.totpContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.totpTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  h5 {
    text-align: center;
  }
}

.totpInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.totpInstructions {
  display: flex;
  padding: 1rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;

  span {
    text-align: center;
  }
}

.itemMarco {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.itemMarcoCell {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.itemMarcoCellBase {
  display: flex;
  padding: 0.5rem 0rem;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
  align-self: stretch;
}

.itemMarcoStartSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.75rem;
  background: rgb(var(--neutral-15-color, (221, 227, 227)));
}

.itemMarcoStep {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 13.125rem;

  span {
    color: rgb(var(--neutral-80-color, (49, 51, 51)));
    text-align: center;

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
  }
}

.itemMarcoTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  span {
    color: rgb(var(--neutral-60-color, (86, 89, 89)));
    align-self: stretch;
    text-align: start;
  }
}
