.positionDetailsDrawer {
  display: flex;
  width: 35rem;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;

  .container {
    display: flex;
    padding: 0rem 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;

    .title {
      display: flex;
      padding: 0.5rem 0rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;
    }

    .texts {
      display: flex;
      padding: 0.5rem 0rem;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      span {
        color: rgb(var(--neutral-40-color, (122, 128, 128)));
        align-self: stretch;
      }
    }

    .box {
      display: flex;
      padding: 1rem 1.5rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      align-self: stretch;

      border-radius: 0.75rem;
      background: rgb(var(--neutral-10-color, (245, 247, 247)));

      .boxValues {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .cellList {
          display: flex;
          padding: 0.5rem 0rem;
          align-items: center;
          gap: 1rem;
          align-self: stretch;

          .texts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;

            p {
              align-self: stretch;
              color: rgb(var(--neutral-80-color, (49, 51, 51)));
            }
          }

          .slot {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            &.alert {
              color: rgb(var(--error-50-color, (231, 71, 66)));
            }

            &.success {
              color: rgb(var(--success-50-color, (64, 181, 111)));
            }
          }
        }
      }

      .boxHeader {
        display: flex;
        padding-top: 0.5rem;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;

        span {
          flex: 1 0 0;
          color: rgb(var(--neutral-80-color, (49, 51, 51)));
          font-family: Lembra;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1rem; /* 114.286% */
        }
      }

      .boxTable {
        display: flex;
        padding: 0.5rem 0rem;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.5rem;
        align-self: stretch;

        .boxRow {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0.5rem;
          flex: 1 0 0;

          span {
            color: rgb(var(--neutral-40-color, (122, 128, 128)));
            align-self: stretch;
          }
        }
      }
    }
  }
}
